<!doctype html>
<html ng-app="plunker" ng-csp style='width: 300px;'>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style='width: 300px; min-width: 300px;'>
    <plunker></plunker>
  </body>
</html>