<div class="personal" ng-cloak>
  <md-content>
    <md-toolbar class="md-hue-2" style="height: 50px;">
      <div class="md-toolbar-tools">
        <md-button class='plunker-btn' aria-label="Plunker" ng-click="openPlunker()">
          <img ng-src="{{plunkerIcon}}">
        </md-button>
        <md-button class="md-icon-button" aria-label="Edit" ng-click="openEditor()">
          <md-icon md-svg-src="popup/img/pencil.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="My plunks">
          <md-icon md-svg-src="popup/img/verified.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="Favorites">
          <md-icon md-svg-src="popup/img/star.svg"></md-icon>
        </md-button>
        <span flex></span>
        <md-button ng-if="!githubUser" class="md-icon-button md-raised md-primary" aria-label="User" ng-click="login()">
          <md-icon md-svg-src="popup/img/account-key.svg"></md-icon>
        </md-button>
        <md-button ng-if="githubUser" class="md-icon-button md-raised md-primary" aria-label="User" ng-click="logout()">
          <img ng-if="githubUser" ng-src="{{githubUser.avatar_url}}" class="md-avatar" alt="{{githubUser.login}}" />
        </md-button>
      </div>
    </md-toolbar>
    <md-input-container class="md-block" flex style="margin-bottom: 0;">
      <label>Search</label>
      <input class="md-block" ng-model="user.title" md-autofocus autofocus ng-disabled="true">
    </md-input-container>
    <section ng-if="userPlunks">
      <md-subheader class="md-primary">My Plunks</md-subheader>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="userPlunk in userPlunks" ng-click="openPlunk(userPlunk)">
          <img ng-src="https://shot.plnkr.co/{{userPlunk.id}}.png?d={{userPlunk.updated_at}}" class="md-avatar md-whiteframe-1dp" style="border-radius: 0; margin-top: 0px;">
          <div class="md-list-item-text">
            <h3>{{userPlunk.description}}</h3>
            <small>
              {{userPlunk.created_at}}
            </small>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <!--<md-tabs md-dynamic-height md-border-bottom>
      <md-tab id="my_plunks">
        <md-tab-label>My Plunks</md-tab-label>
        <md-tab-body>
          <md-input-container class="md-block" flex>
            <label>Search</label>
            <input class="md-block" ng-model="user.title" md-autofocus autofocus>
          </md-input-container>
          <md-list ng-cloak>
            <md-list-item ng-repeat="topping in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
              <p> aparagraph </p>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>
      <md-tab id="favorites">
        <md-tab-label>Favorites</md-tab-label>
        <md-tab-body>
          Favorites
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>-->
</div>