<div class="personal" ng-cloak>
  <md-content>
    <md-toolbar class="md-hue-2" style="height: 50px;">
      <div class="md-toolbar-tools">
        <md-button class='plunker-btn' aria-label="Plunker" ng-click="openPlunker()">
          <img ng-src="{{plunkerIcon}}">
        </md-button>
        <md-button class="md-icon-button" aria-label="Edit" ng-click="openEditor()">
          <md-icon md-svg-src="popup/img/pencil.svg"></md-icon>
        </md-button>
        <!--<md-button class="md-icon-button md-primary" aria-label="My plunks">
          <md-icon md-svg-src="popup/img/verified.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="Favorites">
          <md-icon md-svg-src="popup/img/star.svg"></md-icon>
        </md-button>-->
        <span flex></span>
        <md-button ng-if="!githubUser" class="md-icon-button md-raised md-primary" aria-label="User" ng-click="login()">
          <md-icon md-svg-src="popup/img/account-key.svg"></md-icon>
        </md-button>
        <md-button ng-if="githubUser" class="md-icon-button md-raised md-primary" aria-label="User" ng-click="logout()">
          <img ng-if="githubUser" ng-src="{{githubUser.avatar_url}}" class="md-avatar" alt="{{githubUser.login}}" />
        </md-button>
      </div>
    </md-toolbar>
    <md-input-container class="md-block" flex style="margin-bottom: 5px; margin-top: 12px;">
      <label>Search</label>
      <input class="md-block" ng-model="user.title" md-autofocus autofocus ng-disabled="!userPlunks">
    </md-input-container>
    <section ng-if="userPlunks">
      <md-toolbar class="md-primary plunks-list-section">
        <div class="md-toolbar-tools">My Plunks</div>
      </md-toolbar>
      <md-list>
        <md-list-item class="plunk-list-item" ng-repeat="plunk in userPlunks" ng-click="openPlunk(plunk)">
          <img ng-src="https://shot.plnkr.co/{{plunk.id}}.png?d={{plunk.updated_at}}" class="md-avatar plunk-shot md-whiteframe-1dp">
          <div class="md-list-item-text">
            <div>{{plunk.description}}</div>
            <md-chips ng-model="plunk.tags" readonly="true">
              <md-chip-template>{{$chip}}</md-chip-template>
            </md-chips>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section ng-if="favoritePlunks">
      <md-toolbar class="md-primary plunks-list-section">
        <div class="md-toolbar-tools">Favorites</div>
      </md-toolbar>
      <md-list>
        <md-list-item class="plunk-list-item" ng-repeat="plunk in favoritePlunks" ng-click="openPlunk(plunk)">
          <img ng-src="https://shot.plnkr.co/{{plunk.id}}.png?d={{plunk.updated_at}}" class="md-avatar plunk-shot md-whiteframe-1dp">
          <div class="md-list-item-text">
            <div>{{plunk.description}}</div>
            <md-chips ng-model="plunk.tags" readonly="true">
              <md-chip-template>{{$chip}}</md-chip-template>
            </md-chips>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <!--<md-tabs md-dynamic-height md-border-bottom>
      <md-tab id="my_plunks">
        <md-tab-label>My Plunks</md-tab-label>
        <md-tab-body>
          <md-input-container class="md-block" flex>
            <label>Search</label>
            <input class="md-block" ng-model="user.title" md-autofocus autofocus>
          </md-input-container>
          <md-list ng-cloak>
            <md-list-item ng-repeat="topping in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
              <p> aparagraph </p>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>
      <md-tab id="favorites">
        <md-tab-label>Favorites</md-tab-label>
        <md-tab-body>
          Favorites
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>-->
</div>