plunker {
  .personal {
    min-width: 250px;
  }
  .md-errors-spacer {
    display: none;
  }
  .md-toolbar-tools .md-button.plunker-btn {
    min-width: inherit; 
    padding: 0; 
    margin-top: 15px; 
    margin-left: -15px;
  }
  .md-avatar {
    flex: none;
    width: 40px;
    height: 40px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    box-sizing: content-box;
  }
  .plunk-list-item {
    .md-button {
      line-height: inherit;
    }
    .plunk-shot {
      border-radius: 0; 
      margin-top: 0px; 
      margin-bottom: 0px;
    }
    .md-chips {
      padding: 0 0 5px 0px;
      box-shadow: none;
      .md-chip {
        height: 12px;
        line-height: 12px;
        margin: 1px 1px 0 0;
        padding: 0 3px 0 3px;
        font-size: 10px;
      }
    }
  }
  .plunks-list-section {
    min-height: inherit;
    .md-toolbar-tools {
      height: 24px;
      font-size: 14px;
    }
  }
}